section.wrapper{
    text-align: center;
}
canvas {
   display: inline;
    outline: 5px solid red;
    max-height: 70vh;
    max-width: 100vw;
}


section.full{
    width: 100%;
    outline: 1px solid green;
    margin: 0;
    padding: 0;
}

section.half{
    width: 50%;
    float: left;
    outline: 1px solid orange;
    margin: 0;
    padding: 0;
}

/* this css gets activated when the screen size goes below 600 pixel */
@media only screen and (max-width: 600px) {
    section.full {
        font-size: 100%;
    }

    section.half{
        font-size: 100%;
    }
}
